/* styles.css */

:root {
  --background-color: #fdf0d5;
  --text-color: #222;
  --dark-blue: #003049;
  --light-blue: #669bbc;
  --title-font: "Unbounded", sans-serif;
  --main-font: "Nunito Sans", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  list-style: none;
  font-family: var(--main-font);
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

section,
h2 {
  margin-bottom: 50px;
}

section {
  padding: 0 80px;
}

.hero strong {
  font-family: var(--title-font);
}

strong {
  text-decoration: underline;
  font-weight: 900;
}

/* navbar */

.navbar,
.menu {
  display: flex;
  justify-content: space-between;
}

.navbar {
  padding: 20px 80px;
}

.menu__item {
  position: relative;
  padding: 20px 30px;
}

.menu__item::after {
  position: absolute;
  bottom: 24%;
  left: 20%;
  width: 60%;
  height: 2px;
  background-color: var(--dark-blue);
  transform: scaleX(0);
  transform-origin: left;
  content: "";
}

.menu__item:hover {
  cursor: pointer;
}

.menu__item:hover::after {
  transform: scaleX(1);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
}

/* hero section */

.hero {
  margin-top: 80px;
  position: relative;
  padding-right: 0;
  height: 100vh;
}

.hero-title {
  position: relative;
  text-align: left;
  text-indent: 2.6ch;
  max-width: 50vw;
  font-size: 4rem;
  margin-bottom: 60px;
  font-family: var(--title-font);
  font-weight: 600;
  animation: 1s indent ease-out;
}

.hero-img {
  position: absolute;
  top: 0%;
  z-index: -1;
  right: 0%;
  width: 40vw;
  object-fit: cover;
  border-radius: 10% 0 0 10%;
  margin: 0;
  animation: 1.5s slide-in ease-out;
}

@keyframes indent {
  from {
    text-indent: 0;
  }
  to {
    text-indent: 2.6ch;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* about */

/* .about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr repeat(4, 2fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0 60px;
} */

.about {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto-fit 1fr;
  grid-column-gap: 16px;
  column-gap: 16px;
  padding: 0 60px;
}

/* .about > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.about__card {
  padding: 0 30px;
  position: relative;
}

.about .title {
  grid-area: 1 / 1 / 2 / 13;
  display: flex;
}

.about__card.career {
  grid-area: 2 / 1 / 3 / 8;
  margin-top: auto;
}

.about__card.self {
  grid-area: 2 / 9 / 3 / 13;
}

/* .about__card.career::before {
  position: absolute;
  top: -25%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--dark-blue);
  content: "";
}

.about__card.self::after {
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--dark-blue);
  content: "";
} */

.about__card.self::before {
  position: absolute;

  left: -15%;
  height: 100%;
  width: 2px;
  background-color: var(--dark-blue);
  content: "";
}
/* 
.about .title {
  grid-area: 1 / 1 / 2 / 3;
}
.about__card.career {
  grid-area: 2 / 1 / 4 / 2;
}
.about__card.self {
  grid-area: 3 / 2 / 5 / 3;
} */

.title,
.subtitle {
  font-family: var(--title-font);
  font-weight: 600;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 15px;
  margin-top: 20px;
}

.text {
  text-indent: 1ch;
  text-align: justify;
}
