// Importing variables
@import "./scss/variables";

// Importing mixins
@import "./scss/mixins";

// Importing projects section
@import "./scss/projects";

// Importing keyframes
@import "./scss/keyframes";

/* styles.css */

*,
::after,
::before {
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  list-style: none;
  font-family: $main-font;
  color: $text-color;
}

body {
  background-color: $background-color;
}

section {
  padding: 0 100px;
}

.hero {
  strong {
    font-family: $title-font;
  }
}

strong,
.accent-text {
  text-decoration: underline;
  font-weight: 900;
  background-color: $accent-color;
  padding: 0.2em 0;
  color: $white;
}

a {
  text-decoration: none;
  color: $text-color;
}

/* navbar */

.navbar,
.menu {
  display: flex;
  justify-content: space-between;
}
.menu {
  &__item {
    position: relative;
    padding: 20px 30px;
  }

  &__item::after {
    position: absolute;
    bottom: 24%;
    left: 20%;
    width: 60%;
    height: 2px;
    background-color: $accent-color;
    transform: scaleX(0);
    transform-origin: left;
    content: "";
  }

  &__item:hover {
    cursor: pointer;
  }

  &__item:hover::after {
    transform: scaleX(1);
  }
}

.navbar {
  padding: 20px 80px;
}

.logo {
  @include flexCenter;
  font-size: 1.5rem;
  font-weight: 900;
}

/* hero section */

.hero {
  position: relative;
  margin-top: 40px;
  padding-right: 0;
  height: 80vh;

  &__title {
    position: relative;
    text-align: left;
    text-indent: 2.6ch;
    max-width: 50vw;
    font-size: 4rem;
    margin-bottom: 60px;
    font-family: $title-font;
    font-weight: 600;
    animation: 1s indent ease-out;
  }

  &__img {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    object-fit: cover;
    border-radius: 10% 0 0 10%;
    margin: 0;
    animation: 1.5s slide-in ease-out;
  }
  .btn__background {
    margin-top: 30px;
  }
  .btn {
    transform-origin: 0% 0%;
  }
}

/* about */

/* .about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr repeat(4, 2fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0 60px;
} */

.about {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto-fit 1fr;
  grid-column-gap: 16px;
  column-gap: 16px;
  padding: 0 60px;

  &__card {
    padding: 0 30px;
    position: relative;
  }

  & .title {
    grid-area: 1 / 1 / 2 / 13;
    display: flex;
  }

  &__card.career {
    grid-area: 2 / 1 / 3 / 8;
    margin-top: auto;
  }

  &__card.self {
    grid-area: 2 / 9 / 3 / 13;
  }

  &__card.self::before {
    position: absolute;

    left: -15%;
    height: 100%;
    width: $base-border-width;
    background-color: $black;
    content: "";
  }
}

/* .about > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* .about__card.career::before {
  position: absolute;
  top: -25%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $dark-blue;
  content: "";
}

.about__card.self::after {
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $dark-blue;
  content: "";
} */

/* 
.about .title {
  grid-area: 1 / 1 / 2 / 3;
}
.about__card.career {
  grid-area: 2 / 1 / 4 / 2;
}
.about__card.self {
  grid-area: 3 / 2 / 5 / 3;
} */

.title,
.subtitle {
  font-family: $title-font;
  font-weight: 600;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.description {
  text-indent: 1ch;
  text-align: justify;
  font-size: $base-text-size;
}

.btn {
  width: 200px;
  height: 60px;
  background-color: $background-color;
  border: $base-border-width solid $black;
  border-radius: $small-border-radius;
  color: $black;
  font-size: $base-text-size;
  &__background {
    width: calc(200px * $base-scale);
    height: calc(60px * $base-scale);
    background-color: $black;
    border-radius: $small-border-radius;
  }
}

.btn:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale($base-scale + 0.01);
  //border-color: $accent-color;
  //background-color: $accent-color;
  //color: white;
}
