.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  .logo:hover {
    background-color: $white;
    transform: scale(0.95);
  }
}

.navbar.scrolled {
  .logo {
    background-color: $white;
    border-radius: $small-border-radius;
  }
  .menu {
    &__item {
      background-color: $white;
      border-radius: $small-border-radius;
    }
  }
}

.navbar,
.menu {
  display: flex;
  justify-content: space-between;
}
.menu {
  &__item {
    position: relative;
    padding: 20px 30px;
  }

  &__item::before {
    position: absolute;
    z-index: 1;
    bottom: 28%;
    left: 25%;
    width: 50%;
    height: 2px;
    background-color: $black;
    transform: scaleX(0);
    transform-origin: left;
    transition-delay: 0.25s;
    content: "";
  }

  &__item:hover {
    cursor: pointer;
    background-color: $white;
    transform: scale(0.95);
  }

  &__item:hover::before {
    transform: scaleX(1);
  }
}

.navbar {
  padding: 20px 160px;
}

.logo {
  @include flexCenter;
  font-size: 1.5rem;
  font-weight: 900;
}
