.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 20px 160px;

  .logo {
    @include flexCenter;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: $small-border-radius;
  }

  .logo:hover {
    background-color: $black;
    color: $white;
    transform: scale(0.95);
  }
}

.navbar.scrolled {
  .logo {
    background-color: $black;
    color: $white;
  }
  .menu {
    &__item {
      background-color: $black;
      color: $white;
    }
  }
}

.navbar,
.menu {
  display: flex;
  justify-content: space-between;
}
.menu {
  a:first-child > &__item {
    border-top-left-radius: $small-border-radius;
    border-bottom-left-radius: $small-border-radius;
  }

  a:last-child > &__item {
    border-top-right-radius: $small-border-radius;
    border-bottom-right-radius: $small-border-radius;
  }

  &__item {
    position: relative;
    padding: 20px 30px;
  }

  &__item::before {
    position: absolute;
    z-index: 1;
    bottom: 28%;
    left: 25%;
    width: 50%;
    height: 2px;
    background-color: $white;
    transform: scaleX(0);
    transform-origin: left;
    transition-delay: 0.25s;
    content: "";
  }

  &__item:hover {
    cursor: pointer;
    background-color: $black;
    color: $white;
    transform: scale(0.9);
  }

  &__item:hover::before {
    transform: scaleX(1);
  }
}
