/* navbar */

.navbar,
.menu {
  display: flex;
  justify-content: space-between;
}
.menu {
  &__item {
    position: relative;
    padding: 20px 30px;
  }

  &__item::after {
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    left: 15%;
    right: 0;
    z-index: -1;
    /* bottom: 24%;
    left: 20%; */
    border-radius: $small-border-radius;
    width: 70%;
    height: 80%;
    background-color: $accent-color;
    transform: scaleY(0);
    transform-origin: left;
    content: "";
  }

  &__item::before {
    position: absolute;
    z-index: 1;
    bottom: 28%;
    left: 25%;
    width: 50%;
    height: 2px;
    background-color: $white;
    transform: scaleX(0);
    transform-origin: left;
    transition-delay: 0.25s;
    content: "";
  }

  &__item:hover {
    cursor: pointer;
    color: $white;
  }

  &__item:hover::after {
    transform: scaleY(1);
  }

  &__item:hover::before {
    transform: scaleX(1);
  }
}

.navbar {
  padding: 20px 160px;
}

.logo {
  @include flexCenter;
  font-size: 1.5rem;
  font-weight: 900;
}
